<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p class="text-center">© 202310 NaganoCakeMakers</p>
        <div class="d-flex justify-content-center">
          <a href="#" class="mx-1 text-dark"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="mx-1 text-dark"><i class="far fa-envelope fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>